<div class="container">
  <div class="row ">
    <div class="col-4 mx-auto">
      <form action="/">
        <div class="form-group">
          <select class="form-control mt-4" name="category" id="category" onchange="submit()">
            <option value="">全部</option>
            {{#each categories}}
            <option 
              value="{{this.name}}"
              {{#is ../category this.name}}
              selected
              {{/is}}>
              {{this.name}}
            </option>
            {{/each}}
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-1 align-self-center">總金額:</div>
    <div class="col-3 totalAmount text-right mr-2" style="color:rgb(250, 197, 137)">
      <h1>{{this.totalAmount}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-5 mx-auto table-striped">
      <table class="w-100">
        <tbody>
          {{#each records}}
            <tr>
              <td class=" pt-2 text-center">
                {{#each ../categories}}
                  {{!-- handlebars-helper is 功能  a === b 就渲染 --}}
                  {{#is ../this.category this.name}}
                  <span 
                    style="color:rgb(0, 174, 255)">{{{this.icon}}}
                  </span>
                  {{/is}}
                {{/each}}
              </td>
              <td>
                <div class="d-flex flex-column py-1">
                  <span>{{this.name}}</span>
                  <small>{{this.date}}</small>
                </div>
              </td>
              <td class="text-right">
                {{this.amount}}
                <a class="btn btn-primary btn-sm ml-2 mr-1" href="/expenses/{{this._id}}/edit" role="button">
                  修改
                </a>
                <button type="button" class="btn btn-danger btn-sm mr-1" data-toggle="modal" data-target="#modal-{{this._id}}">
                  刪除
                </button>
  
                <!-- Modal -->
                <div class="modal fade" id="modal-{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{this.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-center">
                        確定要刪除【{{this.name}}】嗎?
                      </div>
                      <div class="modal-footer align-items-center">
                        <button type="button" class="btn btn-secondary btn-sm " data-dismiss="modal">取消</button>
                        <form
                          class="my-auto"
                          action="/expenses/{{this._id}}?_method=DELETE"
                          method="POST"
                          >
                          <button
                            type="submit"
                            class="btn btn-danger btn-sm mr-1"
                            >刪除
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-center">
    <a class="btn btn-warning text-light mt-2" href="./expenses/new" role="button">新增支出</a>
  </div>
</div>